.has-background-image {
  background: no-repeat center center;
  background-attachment: scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
}

.has-text-shadow {
  text-shadow: 0.04em 0.04em 0.03em #000;
}

// Custom region in card component.
.card-content-bottom {
  margin-top: auto;
}

.has-margin-top, .has-margin-top-1 {
  margin-top: 1em;
}

.has-margin-top-2 {
  margin-top: 2em;
}

.has-margin-top-3 {
  margin-top: 3em;
}

.has-margin-top-4 {
  margin-top: 4em;
}

.has-margin-top-5 {
  margin-top: 5em;
}

.tags {
  .label {
    flex: 0 0 100%;
  }
}

.block-table-of-contents {
  ol, ul {
    list-style-position: inside;
  }
}
