@charset "UTF-8";

.column {
  &.views-row {
    display: flex;
    flex-direction: column;
    > * {
      flex: 1;
    }
  }
}

.tag {
  &.is-primary {
    a {
      color: #fff;
      &:hover {
        color: #000;
      }
    }
  }
}