{% extends '@bulma/block/block.html.twig' %}
{% set title_attributes = title_attributes.addClass(['is-bottom-marginless']) %}
{% set view_mode = configuration['view_mode'] ?? null %}
{% if view_mode is same as ('columnar') %}
  {% set attributes = attributes.addClass(['column', 'is-one-third-desktop', 'is-half-tablet']) %}
{% endif %}
