<section class="{{classes|join(' ')}}" style="background-image: url('{{ image_url }}')">
  <div class="hero-body">
    <div class="container">
      <div class="title has-text-shadow">
        {{ text }}
      </div>
      {{ link }}
    </div>
  </div>
</section>