<section class="{{classes|join(' ')}}" style="background-image: url('{{ image_url }}')">
  <div class="hero-body has-text-centered column is-10">
    <div class="title has-text-shadow">
      {{ text }}
    </div>
    {{ link }}
  </div>
</section>